#judul{
    background-color: blue;
}

header{
    background-color: rgb(218, 35, 35);
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white
}

li{
    display: inline;
    margin-left: 30px;
}


body{
    margin: 0px;
    background-image:url(../images/bg.jpg);
}

section{
    background: white;
    padding: 30px;
    margin: 100px 100px 30px;/* batas atas batas kanan batas bawah */

}

article{
    border-bottom: 1px solid black;
    margin-top: 10px;
}

div{
    padding-bottom: 10px;
}

img{
    width: 50px;
    margin-left: 30px;
}